* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

section {
  max-width: 750px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 40px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 80%;
  max-width: 1140px;
  margin-inline: auto;
  align-items: flex-start;
}

.flex-box__item {
  width: calc(25% - 30px);
  min-width: 200px;
  text-align: center;
  position: relative;
}

.flex-box__item img {
  width: 100%;
}

h5 {
  color: chocolate;
}

p {
  font-size: 14px;
  color: darkgrey;
}

.social-icons {
  font-size: 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  top: 80px;
  left: 7px;
  opacity: 0;
}

.flex-box :hover .social-icons {
  opacity: 100%;
}

.social-icons a:hover {
  transform: all 0.2s ease;
}

.team_name {
  width: 100%;
  transition: transform 0.3s ease;
  padding: 20px;
}

.flex-box__item:hover {
  background-color: orange;
}
.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
