.flex-container {
  display: flex;
  border: 1px solid #ccc;
  height: 5em;
  /* width: 12em; */
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.center {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.flex-item {
  text-align: center;
  font-size: 1em;
  padding: 1.5em;
  color: white;
}
.largest-item {
  padding-top: 2em;
}

.color1 {
  background-color: #675ba7;
}

.color2 {
  background-color: #9bc850;
}
.color3 {
  background-color: #a62e5c;
}
.color4 {
  background-color: #2a9fbc;
}
