* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1140px;
  margin-inline: auto;
}

body {
  font-family: "Roboto", serif;
}

img {
  width: 100%;
}

h1 {
  margin-block: 40px;
}

nav {
  background-color: rgb(200, 159, 239);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: #fff;
  align-items: center;

  h2 {
    font-size: 35px;
  }

  input {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 4px -1px black;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.section-heading {
  max-width: 800px;
  margin-inline: auto;
  margin-block: 60px;
  text-align: center;

  * {
    margin-bottom: 15px;
  }
}

.pizzas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  .pizza {
    box-shadow: 0 0 10px 0px violet;
    padding: 20px;

    h3 {
      margin-block: 15px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        cursor: pointer;
        padding: 5px 15px;
        font-size: 20px;
        color: #fff;
        background-color: rgb(200, 159, 239);
        border: 1px solid violet;
      }
    }
  }
}

.quick-basket {
  color: #000;
  font-size: 14px;
  position: fixed;
  bottom: 400px;
  right: 30px;
  z-index: 1;
  cursor: pointer;

  span {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px -1px black;
  }

  img {
    height: 70px;
    width: 70px;
  }
}

.basket-modal {
  position: fixed;
  inset: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(10px);
  cursor: pointer;

  .quick-basket-card {
    width: 400px;
    box-shadow: 0 0 10px 1px black;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* left: -400px; */
    transition: all 0.4s;
    padding: 30px;
    cursor: auto;

    .quick-products {
      height: 80vh;
      overflow-y: auto;

      padding: 0;
      margin: 0;
      list-style: none;

      li {
        border: 1px solid violet;
        box-shadow: 0 0 10px -1px violet;
        padding: 5px 20px;
        margin-block: 10px;

        img {
          width: 50px;
        }

        div:first-child {
          margin-bottom: 15px;
        }

        h5 {
          font-size: 17px;
        }

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        button {
          cursor: pointer;
          padding: 3px 7px;
          font-size: 20px;
          color: #fff;
          background-color: rgb(200, 159, 239);
          border: 1px solid violet;
          margin-inline: 6px;
        }
      }
    }

    .totalPrice {
      margin-top: 20px;
      font-size: 25px;
      font-weight: 500;
    }
  }
}
