* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ol {
  margin: auto;
  width: 400px;
}

li {
  list-style-position: inside;
  color: white;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

li:first-child {
  background-color: #000000;
}

li:nth-child(2) {
  background-color: #c0c0c0c0;
}

li:nth-child(3) {
  background-color: #808080;
}

li:nth-child(4) {
  background-color: #3498db;
}
li:nth-child(5) {
  background-color: #800000;
}
li:nth-child(6) {
  background-color: #ff0000;
}
li:nth-child(7) {
  background-color: #800080;
}
li:nth-child(8) {
  background-color: #f0f;
  color: #000;
}
li:nth-child(9) {
  background-color: #008000;
}
li:nth-child(10) {
  background-color: #0f0;
  color: #000;
}
li:nth-child(11) {
  background-color: #808000;
}
li:nth-child(12) {
  background-color: #ffff00;
  color: #000;
}
li:nth-child(13) {
  background-color: #000080;
}
li:nth-child(14) {
  background-color: #00f;
}
li:nth-child(15) {
  background-color: #008080;
}
li:last-child {
  background-color: #00ffff;
  color: #000;
}

li:hover {
  background-color: #ffffff;
  color: #000000;
}
