*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  border: 1px solid #ccc;
  padding: 10px;
  width: 1000px;
  max-width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
}

.item {
  background-color: brown;
  color: #fff;
  font-size: 40px;
  padding: 20px 0px;
  text-align: center;
  display: grid;
  place-items: center;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.color1 {
  background-color: #00dd98;
}

.color2 {
  background-color: #df9704;
}
.color3 {
  background-color: #9c00df;
}
.color4 {
  background-color: #db019d;
}
.color5 {
  background-color: #98de02;
}

.color6 {
  background-color: #0099df;
}

/* .item:nth-child(5) {
  grid-column-end: span 2;
  grid-row-end: span 2;
} */

/* .item:nth-child(5) {
  grid-column: 2/4;
  grid-row: 2/4;
} */

.item:nth-child(5) {
  grid-area: span 2 / span 2;
}

.item:hover {
  transform:  scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
