* {
  margin: 0;
}
body {
  font-family: "Lato" sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  width: 70%;
  margin: 40px auto;
  gap: 5px;
}

.product {
  border: solid 1px grey;
  width: 400px;
  margin: 10px 0;
  padding: 20px;
  border-radius: 3px;
}

.laptop_img {
  width: 400px;
  height: 325px;
  margin-bottom: 10px;
}

.company {
  margin-bottom: 10px;
}

.price {
  color: #b12704;
  margin-bottom: 20px;
}

.desc {
  background-color: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.buy,
.add {
  color: #853ae0;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px 10px 0;
}

.back {
  display: block;
  font-style: italic;
  color: #000;
  padding: 10px 10px 10px 0;
}
