* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #000;
  height: 55px;
  margin-bottom: 23px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1140px;
  margin-inline: auto;
  gap: 26px 54px;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 26px 80px;
} */

.flex_item {
  width: 262px;
  height: 227px;
  background-color: #ccc;
  border-radius: 10px;
}

footer {
  width: 80%;
  max-width: 1240px;
  height: 45px;
  background-color: rgb(221, 160, 221);
  margin: 96px auto 70px;
  border-radius: 10px;
}
