body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(226, 245, 226);
}

#game-display {
  background-color: rgb(60, 177, 60);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 59px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#start-btn {
  padding: 20px 60px;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  outline: 0;
  border: 1px solid #5731e4;
  background-color: #5731e4;
  cursor: pointer;
}

#start-btn:active {
  background-color: rgb(119, 66, 243);
}

#reset-btn {
  padding: 20px 60px;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  outline: 0;
  border: 1px solid #151615;
  background-color: #151615;
  cursor: pointer;
}

#reset-btn:active {
  background-color: rgb(71, 69, 69);
}
#start-btn:disabled {
  background-color: #15161583;
}
#reset-btn:disabled {
  background-color: #15161583;
}
.comment {
  width: 436px;
  font-size: 24px;
  padding: 20px 20px;
  background-color: #faf9fc;
  border: 1px solid #5731e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  padding: 15px;
  color: #fff;
  font-size: 24px;
  position: relative;
  top: -3em;
  left: -4em;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: rgb(11, 11, 14);
}
.hourse-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourses {
  width: 1013px;
  margin-left: -3rem;
}

.hourse {
  width: 100%;
  margin: 4px 0;
  padding: 15px 15px 3px 0px;
  border: 5px solid #faf9fc;
}

.hourse img {
  width: 120px;
  position: relative;
  transition: all ease-in-out 0.9s;
  z-index: 5;
}

.finish {
  width: 60px;
  height: 310px;
  background-color: rgb(55, 158, 55);
  border-right: 1px solid red;
  position: relative;
  top: -1px;
  left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish span {
  position: absolute;
  transform: rotate(90deg);
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
}

.audio {
  display: none;
}
