*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  width: 70%;
  max-width: 1140px;
  margin-inline: auto;
  padding: 10px;
  border: 1px solid red;
  gap: 10px;
}

.item {
  background-color: #4caf50;
  color: #fff;
  padding: 20px 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
