*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 90px 90px 90px 90px;
  gap: 3px;
  padding: 10px;
  width: 950px;
  max-width: 90%;
  margin-inline: auto;
}
.grid-container__item {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-container__item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.color1 {
  background-color: #ca316a;
}
.color2 {
  background-color: #ca309e;
}
.color3 {
  background-color: #ee6e61;
}
.color4 {
  background-color: #d6b268;
}
.color5 {
  background-color: #538c45;
}
.color6 {
  background-color: #267d87;
}
.color7 {
  background-color: #799a29;
}
.color8 {
  background-color: #488856;
}
.color9 {
  background-color: #30cac2;
}
.color10 {
  background-color: #30c990;
}
.color11 {
  background-color: #554079;
}
.color12 {
  background-color: #de2130;
}

.grid-container__item:first-child {
  grid-column: span 2;
}

.grid-container__item:nth-child(2) {
  grid-area: span 2 / span 3;
}

.grid-container__item:nth-child(3) {
  grid-area: span 4 / span 4;
}

.grid-container__item:nth-child(4) {
  grid-column: span 2;
}

.grid-container__item:nth-child(5) {
  grid-column: span 2;
}

.grid-container__item:nth-child(6) {
  grid-column: span 2;
}

.grid-container__item:nth-child(7) {
  grid-column: span 2;
}

.grid-container__item:nth-child(9) {
  grid-column: span 2;
}

.grid-container__item:nth-child(10) {
  grid-column: span 2;
}

.grid-container__item:nth-child(11) {
  grid-column: span 5;
}

.grid-container__item:last-child {
  grid-column: span 2;
}
