* {
  margin: 0;
}
body {
  font-family: "Roboto" sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 800px;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.nav_bar {
  display: flex;
  
}

img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 15px;
}

.nav_bar ul {
  list-style: none;
  padding: 0px;
}

.nav_bar ul li {
  padding: 0px 25px 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid #fff;
  transition: border-bottom ease 0.3s;
}

.nav_bar ul li:hover {
  border-bottom: 3px solid rgb(127, 255, 30);
}

.ma_logo {
  width: 40px;
  height: 40px;
  background-color: #833ae0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

main {
  display: flex;
}

.main_container {
  width: 80%;
}

.author {
  font-size: 12px;
  background-color: lavender;
  margin-bottom: 15px;
  padding: 5px;
  font-weight: 400;
  width: 200px;
}

aside {
  width: 20%;
  background-color: lavender;
  padding: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

p {
  margin-bottom: 16px;
}
