*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
  margin-bottom: 40px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  gap: 20px;
}

.team_name {
  text-align: center;
}
