* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 50px;
  background-color: rgb(109, 214, 10);
}

main { 
  max-width: 1200px;
  width: 70%;
  margin-inline: auto;
}
h1,
h3,
h4,
h5 {
  color: #000000ce;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h1,
h3 {
  font-weight: 800;
}

h4,
h5 {
  font-weight: 700;
}

a {
  color: #3dd60e;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #1ca3b4;
  margin-top: 30px;
}
