*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
ul,
a,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin-bottom: 100px;
}

.header-flex ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-block: 30px;
}

.header-flex ul li a {
  color: #000;
  font-weight: 800;
  font-size: 16px;
  transition: color 0.3s ease;
}

.header-flex ul li a:hover {
  color: #f1463e;
}

.grid-container {
  width: 1024px;
  max-width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1.5fr));
  grid-template-rows: 240px 90px 240px 90px;
}

.grid-container__item {
  margin: 0 30px 5px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  border-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.grid-container__item:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.grid-container__item:first-child {
  grid-row: span 4;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0 0 0;
}

.grid-container__item:first-child:hover {
  transform: none;
  box-shadow: none;
}

.aside_page li {
  margin-bottom: 12px;
}

.aside_page a {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s ease;
}

.aside_page a:hover {
  color: #f1463e;
}

img {
  margin-left: 15px;
  margin-bottom: 40px;
  max-width: 100%;
  height: 100px;
  border-radius: 6px;
}

.show-info {
  color: #000;
  font-size: 15px;
  display: flex;
  justify-items: space-between;
  align-items: start;
  gap: 50px;
  font-weight: bold;
  padding: 5px;
}

.show-stock {
  color: grey;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 0 0 10px 5px;
  gap: 15px;
}

.grid-container__item:nth-child(2) {
  background-color: #f5f5f5;
}

.grid-container__item:nth-child(3) {
  background-color: #f5f5f5;
}
.grid-container__item:nth-child(4) {
  background-color: #f5f5f5;
}
.grid-container__item:nth-child(8) {
  background-color: #f5f5f5;
}
.grid-container__item:nth-child(9) {
  background-color: #f5f5f5;
}
.grid-container__item:nth-child(10) {
  background-color: #f5f5f5;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .header-flex ul {
    flex-direction: column;
    gap: 20px;
  }
}
