* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 85%;
  margin-inline: auto;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/banner.png.webp") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.hero-content h1 {
  color: #fff;
  font-size: 78px;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 30px;
}

.hero::before {
  content: "";
  background: #1f1f1f;
  opacity: 0.8;
  position: absolute;
  inset: 0;
}

.boxed-btn {
  background: #615cfd;
  color: #fff;
  padding: 12px 33px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Muli", sans-serif;
}

.boxed-btn:hover {
  background: transparent;
  color: #615cfd;
  border: 1px solid #615cfd;
}

.boxed-btn:focus {
  outline: none;
}

@media (min-width: 990px) {
  .hero-box {
    width: calc(100% / 12 * 9);
  }
}
