*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background-color: #413d3c;
  padding: 10px;
  width: 800px;
  max-width: 90%;
  margin-inline: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1.2fr 0.8fr 1fr 1fr;
  grid-template-rows: 100px 90px 60px 100px;
}

.item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.color1 {
  background-color: #f1463e;
}

.color2 {
  background-color: #2cc4cf;
}

.color3 {
  background-color: #d6b268;
}
.color4 {
  background-color: #fff;
}

.item:first-child {
  grid-row: span 2;
}

.item:nth-child(2) {
  grid-column: span 2;
}

.item:nth-child(3) {
  grid-column: span 2;
}

.item:nth-child(4) {
  grid-row: span 2;
}

.item:nth-child(5) {
  grid-area: span 2 / span 2;
}

.item:nth-child(6) {
  grid-row: span 3;
}

.item:nth-child(7) {
  grid-row: span 2;
}

.item:nth-child(8) {
  grid-column: span 2;
}
