* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  margin: auto;
  width: 65%;
  max-width: 1150px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #f0fff8;
  border-color: gray;
}

td {
  border: solid 1px #80ced6;
  padding: 10px;
}

p,
ul {
  background-color: #f0fff8;
  border-radius: 10px;
  padding: 30px;
  border: solid 1px #80ced6;
}

h1,
h3 {
  font-weight: 900;
}

ul {
  list-style-type: square;
}
