* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

section {
  text-align: center;
  margin-bottom: 80px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-family: Roboto, sans-serif;
  color: rgb(119, 119, 119);
  font-size: 14px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 80%;
  max-width: 1140px;
  margin-inline: auto;
  align-items: flex-start;
}

.flex-box__item {
  width: calc(25% - 30px);
  min-width: 200px;
  text-align: center;
}

.flex-box__item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.team_name h4 {
  margin: 10px 0 5px 0;
}
