*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* height: 100vh;
  display: grid;
  place-items: center; */
}

section {
  text-align: center;
  margin-bottom: 80px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* max-width: 1140px; */
  margin-inline: auto;
  gap: 60px;
}
.team_name{
  text-align: center;
}

