*,
*::after,
*::before {
  block-size: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  width: 70%;
  max-width: 1140px;
  margin-inline: auto;
  padding: 10px;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 30px;
  align-items: center;
  justify-items: center;
}

.grid-container__item {
  width: 100px;
  height: 100px;
  background-color: #4caf50;
  color: #fff;
  font-size: 20px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
