*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.grid-container {
  border: 1px solid red;
  padding: 10px;
  width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.7fr 1.3fr 0.6fr 0.4fr repeat(3, 1fr);
  grid-template-rows: repeat(4, 250px);
  gap: 10px;
}

.grid-container__item {
  background-color: green;
  color: #fff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container__item:first-child {
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
  /* grid-row: 1/3; */
  /* grid-row-end: span 2; */
  grid-row: 1 / span 2;
}

.grid-container__item:nth-child(2) {
  /* grid-column: 2 / span 3; */
  grid-column-end: span 3;
}

.grid-container__item:nth-child(3) {
  grid-column-end: span 2;
}

.grid-container__item:nth-child(5) {
  /* grid-column-end: span 2; */
  /* grid-row-end: span 2; */

  grid-column: span 2;
  grid-row: span 3;
}

.grid-container__item:nth-child(6) {
  grid-row: span 3;
}

.grid-container__item:nth-child(7) {
  /* grid-row: span 2; */
  /* grid-column: span 2; */
  grid-area: span 2/ span 2;
}
.grid-container__item:nth-child(8) {
  grid-column: span 3;
}

.grid-container__item:nth-child(11) {
  grid-column: span 2;
}

.grid-container__item:nth-child(14) {
  grid-column: span 3;
}
